@*@model List<AccountingBook.Models.AccountingBookDataListModels>*@
@model AccountingBook.Models.AccountingBookDataListModels
@{
    ViewBag.Title = "DataInputForm";
    Layout = "~/Views/Shared/_AccountingBookLayout.cshtml";
}

@*@section BootstrapCSS{
        <link href="http://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" />
}*@

<div class="well">    
        @using (Html.BeginForm("Index", "Home", FormMethod.Post, new { @class = "form-horizontal" }))
        {
            <div class="form-group">
                @Html.LabelFor(m => m.type, new { @class = "col-md-2 control-label" })                
                <div class="col-sm-10">                    
                    @Html.DropDownList("type", (IEnumerable<SelectListItem>)ViewData["dr1"],new { @class="form-control"})
                </div>
            </div>
            <div class="form-group">                
                @Html.LabelFor(m => m.money, new { @class = "col-md-2 control-label" })
                <div class="col-sm-10">                    
                    @Html.TextBoxFor(m => m.money, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">                
                @Html.LabelFor(m => m.Date, new { @class = "col-md-2 control-label" })
                <div class="col-sm-10">                   
                    @Html.EditorFor(m => m.Date, new { htmlAttributes = new { @class = "form - control" } })
                    @Html.ValidationMessageFor(m => m.Date)
                </div>
               
            </div>
            <div class="form-group">                
                @Html.LabelFor(m => m.Remark, new { @class = "col-md-2 control-label" })
                <div class="col-sm-10">                    
                    @Html.TextAreaFor(m => m.Remark, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-8 col-sm-4">
                    <button type="submit" class="btn btn-default">送出</button>
                </div>
            </div>
            @Html.ValidationSummary("", new { @class = "text-danger" })
        }        
</div>
<div>
    @Html.Partial("_DatatListPratialView", ViewData["AccountingListpartailView"])

</div>

@section DateValidate {
<script>
    //研究一下jqueryValidate.js怎麼做
    //<input class="form-control" data-val="true" data-val-date="欄位 日期 必須是日期。" data-val-daterange="輸入日期不可大於今天" data-val-required="日期 欄位是必要項。" id="Date" name="Date" type="text" value="">

                          //檢核規則名稱        //value=欄位內容, elem為欄位元素, params為額外參數
    $.validator.addMethod("daterange", function (value, element) {
        //console.log("value= " + value, "element= " + element);
        if (value === false) {
            return true;
        }
        var Nowdate = new Date();        
        var inputdate = new Date(value);
        debugger;
        if (inputdate > Nowdate) {
            return false;            
        }
        return true;      
    });
    $.validator.unobtrusive.adapters.addBool("daterange");
</script>
}


